<div class="row">
<img class="col-5" src="{{url_for('static', filename='img/slide_grandpy.jpg')}}">
<p class="col-6 offset-1">
Dans cette application, l'utilisateur indique un lieu, et il obtient l'adresse de ce lieu, ainsi qu'une anecdote sur le lieu ou les environs. Pour cela, j'ai utilisé une API de Google Maps, et une API Media Wiki. L'application est consultable sur <a href="https://grandpy-bot-scatillon.herokuapp.com/">https://grandpy-bot-scatillon.herokuapp.com/</a>. Le code source est consultable sur <a href="https://github.com/SylvainCatillon/GrandPy_Bot">GitHub</a></p>
</div>