<div class="row">
<img class="col-5" src="{{url_for('static', filename='img/ocpizza.jpg')}}">
<p class="col-6 offset-1">
Au cours de ma formation, j'ai rédigé une documentation complète pour un projet d'applications multiplateformes. Pour me donner un contexte réel, il était simulé la demande d'un client, une chaine de pizzeria, souhaitant un nouveau système informatique. J'ai pour cela réalisé des diagrammes UML, des schémas de base de données, et rédigé des spécifications fonctionnelles et techniques. Mon travail est consultable sur <a href="https://drive.google.com/drive/folders/1yhR4Ra4u7dZZNFIoQ3x_IJyKMzRvVwq3?usp=sharing">ici</a></p>
</div>